body {
background-color: rgb(252, 252, 229);
color: rgb(126, 14, 14);
font-family: Verdana, Arial, sans-serif;
background-image: url("background.gif");

}
header {
    background-color: rgb(176, 134, 210);
    color: #000000;
}
footer {
    background-color: #D2B486;
    color: #000000;
    text-align: center;
    font-size: .60em;
    font-style: italic;
    padding: 10px;
}
nav {
    font-weight: bold;
    text-align: center;
    float: left;
    padding: 10px;
    width: 160px;
    

}

.dropdown-content{
    display:none;
    text-align:right;
    font-size: medium;
    border-top: 2px black;
    border-bottom: 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
}
button{
    width: 70px;
    background-color: rgb(176, 176, 236);
    color: black;
    text-decoration: none;
    font-style: normal;

}


html{
    scroll-behavior: smooth;
}
.head{
    width: 100%;
    height: 25px;
    background-color: rgb(245, 183, 101);
}

.outside{
text-align: left;
color: white;
}
nav a {
    text-decoration: none;
}
h1 {
    font-family: Georgia, 'Times New Roman', serif;
    height: 100px;
    margin: 0em;
    background-color: #000000;
    color: white;
    background-repeat: no-repeat;
    background-position: center;

}
h2 {
    font-family: Georgia, 'Times New Roman', serif;
}
h3 {
    background-color: #e6d6a9;
    text-transform: uppercase;
}
dt {
    font-weight: bold;
}
ul {
    list-style-image: url('favicon.jpg');
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    
    
    background-color:black;
    color: white;
    box-shadow: 3px 3px#2E0000;  
    
}

#menu { 
    background-color: #F5F5DC;
    color: #2E0000;
}

main {
    padding: 20px;
    display: block;
    margin-left: 175px;
    background-color: #F5F5DC;
}
#inside{
    font-size: small;
    color: brown;
    text-align: right;
}

#hero {
    height: 300px;
    color: rgb(10, 9, 9);
    background-color: white;
    background-size: 100% 100%;
    overflow-y: scroll;
}

.news {
    margin-left: 20%;
    margin-right: 20%;
}


nav ul{
    list-style: none;
    font-size: 1.2em;
    padding-left: 0em;
}

nav a :link{
    color: white;
}
nav a :visited{
    color: #A58366;
}



